/* dark mode
* {
   background-color: black;
   color: white; 
} */

body {
    padding: 2%;
    font-family: sans-serif;
}


th, td {
    width: 125px; 
    padding: 3% 0 0 0;
}

td {
    text-align: center;
}

.text-input {
    padding: .25%;
    margin: 0 0 1% 0;
}
.text-input:hover {
    cursor: pointer;
}

.winner-display {
    width: 50%;
    height: 45%;
    border: 2px solid black;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    font-size: 60px;
    text-align: center;
    display: none; 
    justify-content: center;
    align-items: center;
    background-color: springgreen;
}

 

/* .result-table {
    display: inline;

} */

/* .box {
    width: 300px;
    height: 300px;
    display: flex;

} */
